{% extends 'layouts/base.html' %}
{% load static %}
{% load site_utils %}
{% block page_title %}Transactions - {% site_name %}{% endblock %}
{% block latter_style %}

{% endblock %}
{% block content %}
    <section class="section parallax-container breadcrumbs-wrap{% if user.is_authenticated %} push-header{% endif %}"
             data-parallax-img="{% static 'images/bg/breadcrumbs-1-1920x726.jpg' %}">
        <div class="parallax-content breadcrumbs-custom context-dark">
            <div class="container">
                <h3 class="breadcrumbs-custom-title">Transaction Details</h3>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="javascript:void(0)" onclick="history.back()">Back</a></li>
                    <li class="active">Transaction</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <account-details :wallet_id="{{ wallet.id }}" :balance="{{ wallet.balance }}" :bonus="{{ wallet.bonus_balance }}" :user_email="'{{ user.email }}'"></account-details>
            </div>
        </div>
    </section>
{% endblock content %}