<div class="footer" style="background-color:#000321;font-size:13px;color:white;border:0.1px solid #000321;">
    <p style="margin:10px 0px 0px 30px;">Contact us: support@topplaysport.com</p>
    <br>
    <p style="margin:0px 0px 0px 30px;"><a href="https://web.facebook.com/pg/Topplaysport-104500274229137/posts/?ref=page_internal"><img
            src="http://topplaysport.com/static/images/misc/icons/facebook.png"
            style="height: 30px; width: 30px;margin-right: 5px;"></a> <a href="https://mobile.twitter.com/Topplaysport_"><img
            src="http://topplaysport.com/static/images/misc/icons/twitter.png"
            style="height: 30px; width: 30px;margin-right: 5px;"></a> <a href="https://www.instagram.com/topplaysport_/"><img
            src="http://topplaysport.com/static/images/misc/icons/instagram.png"
            style="height: 30px; width: 30px;"></a></p>
    <br>
{#    <p style="margin:0px 0px 0px 30px;">+18 Gambling</p>#}

    <br>
    <p style="text-align:center">Topplaysport {% now 'Y' %}. All rights reserved </p>
</div>