{% extends 'layouts/base.html' %}
{% load static %}
{% load site_utils %}
{% block page_title %}Terms and Conditions - {% site_name %}{% endblock %}
{% block latter_style %}
    <link rel="stylesheet" href="{% static 'css/core/faq.css' %}">
{% endblock %}
{% block content %}
    <section class="section parallax-container breadcrumbs-wrap{% if user.is_authenticated %} push-header{% endif %}"
             data-parallax-img="{% static 'images/bg/breadcrumbs-1-1920x726.jpg' %}">
        <div class="parallax-content breadcrumbs-custom context-dark">
            <div class="container">
                <h3 class="breadcrumbs-custom-title">Terms and Conditions</h3>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="javascript:void(0)" onclick="history.back()">Back</a></li>
                    <li class="active">Terms and Conditions</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section section-sm bg-gray-100">
        <div class="container">
            <div class="row row-50">
                <div class="col-xl-12">
                    <!-- Heading Component-->
                    <article class="heading-component">
                        <div class="heading-component-inner">
                            <h5 class="heading-component-title">Terms and Conditions
                            </h5>
                            <div class="heading-component-aside">

                            </div>
                        </div>
                    </article>

                    <div class="__sport-table">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h4 class="text-uppercase">General Terms and conditions</h4>
                                <p class="mt-2">
These general Terms and Conditions Terms and Conditions or T&amp;C) shall apply to all aspects of use of
the website www.Topplaysport.com(the website), the Account and the services operated by Correttezza
Technologies (Correttezza ) (a company duly organized under the laws of Nigeria, with business
registration RC 1603870) via the website. Topplaysport shall offer it&#39;s services through various channels
not limited to POS, SMS, USSD hereon referred to as the service.
                                </p>
                                <p class="mt-2">
By using the service, you are bound by these General Terms &amp; Conditions together with any other terms
conditions that may be applicable for a specific type of service or product we make available, terms and
conditions and/or rules applicable to the bonus promotions, rewards programs, special offers or any
other promotions that may be made available on the website.
                                </p>
                                <p class="mt-2">
All the terms and conditions listed in this page shall together be referred to as the Terms of Use. User
and Customer, You and Your refers to you, the person accessing the Service and accepting the
Company's terms and conditions. Whenever the Customer uses any of our services, he agrees to be
bound by the Terms of Use, including any amendment which may periodically take place.
                                </p>
                                <p class="mt-2">
The Terms and Conditions contained herein represent the complete, final and exclusive agreement
between the Customer and the Company and supersede and merge all prior agreements,
representations and understandings.
                                </p>
                                <p class="mt-2">
Topplaysport does not accept any Users under the age of 18 and applications from any form of
incorporated or unincorporated legal entity. Topplaysport reserves the right to verify and exclude
Customers from its services, if there are any doubts regarding the attainment of the minimum age
required or applicants identity.
                                </p>
                                <p class="mt-2">
                                    Non-Commercial, non-professional purposes: the Customer´s interest in using the service is of a
personal nature, and is to be used purely for personal entertainment. Any commercial and professional
interest is discarded.
                                </p>
                                <p class="mt-2">
Topplaysport does not warrant the constant availability and functionality of all or any products offered
by Topplaysport . Topplaysport may not be held liable and will be held harmless by the Customer for
any damages, losses, costs, loss of profits or any other disadvantage a Customer may incur in connection
with any disconnection from or the non-availability of any of the products offered by Topplaysport for
whatever reason.
                                </p>
                                <p class="mt-2">
                                    Topplaysport cannot be held liable in any case for any damage or loss caused directly or indirectly by
the service or by its contents or by the contents provided by a third party, unless they are based on
intentional or gross negligence.
                                </p>
                                <p class="mt-2">
All indicated dates and times are based on WAT (West Africa Time) unless stipulated otherwise.
                                </p>
                                <p class="mt-2">
Any exception to the existing Terms of Use will be communicated in written form to the Customer. Any
verbal statement made by Topplaysport employees or affiliates will not be considered in case of a
dispute.
                                </p>
                                <p class="mt-2">
The service is available in Nigerian Naira (NGN) only
                                </p>
                                <p class="mt-2">
The Customer agrees that the Company may use the name, email, phone number, town/city of
residence and/or the image of the Customer for publicity or our own promotional material. The
Company may contact you to provide such material and funds may be temporarily withheld until such
time the requested material has been received.
                                </p>
                                <h4 class="text-uppercase mt-2">WINNING</h4>
                                <p class="mt-2">
In a case of a tie in the top ten winners, the cash reward will be split amongst users sharing the tie.
                                </p>
                                <h4 class="text-uppercase mt-2">AMENDMENTS TO THE TERMS OF USE</h4>
                                <p class="mt-2">
The Terms of Use can be changed at any time by Topplaysport at its own discretion. All changes will
become effective on their publication on our website.
                                </p>
                                <p class="mt-2">
If you consider any amend carried out to be intolerable, you may cease using the service.
                                </p>
                                <p class="mt-2">
The continued use of the Service after the date when the Terms of Use are meant to come into effect
will correspond to a complete acceptance of the revision performed, whether or not the changes have
been acknowledged.
                                </p>
                                <h4 class="text-uppercase mt-2">MANAGING AN ACCOUNT</h4>
                                <p class="mt-2">
Each Customer who wants to have access to services and products offered by Topplaysport must open
an Account. In addition by opening a Topplaysport account and by playing the game the User confirms
that he or she retains the legal capacity to enter into an agreement with the Company. If one of these
conditions is not respected the User's account will be closed and all other necessary measures will be
implemented.
                                </p>
                                <p class="mt-2">
It is prohibited for Customers to buy, sell or transfer accounts to other Customers.
                                </p>
                                <p class="mt-2">
When a new account is opened the Customer is responsible for the accuracy and up-to-datedness of all
the personal information and contact details provided, including name and date of birth, address,
telephone number and e-mail address. Topplaysport reserves the right to close the Account when the
information provided is deemed to be false or inaccurate.
                                </p>
                                <p class="mt-2">
All personal data is stored in the database of the company and will not be passed on to third parties
unless recurring the terms set out in the Privacy Policy Section. Topplaysport reserves the right to relay
suspected offenders saved details to sporting bodies, authorities or any other third party, which deals with the investigation of offences concerning manipulation. (for our Privacy Policy, please visit the
specific section).
                                </p>
                                <p class="mt-2">
Every Customer may only open one account with us. Topplaysport retains the right to close the account
of any Customer who has opened multiple accounts under his/her name or under different names. If we
have reasonable grounds to believe that multiple accounts (also under different names) have been
opened with the intention of defrauding the Company, we retain the right to cancel any transaction
related to the said fraud attempt.
                                </p>
                                <p class="mt-2">
After opening an account the Customer must keep username, password and/or account number a
secret. All transactions where your username and password and /or account number have been entered
correctly will be regarded as valid whether or not they have been authorized by the registered Account
holder.
                                </p>
                                <p class="mt-2">
The Company shall not be liable for any claims in the event that the Player gives away, tells, shares or
loses his/her username, password or account number.
                                </p>
                                <p class="mt-2">
The Customer is entitled to apply for the closing of his Account whenever he/she wishes by requesting it
to the Customer Service in written form. The effective closure of the Account will correspond to the
termination of the Terms of Use. In case the reason behind the closure of the Account.
                                </p>
                                <p class="mt-2">
In accordance with the legal period of warranty requested by law all the personal details saved in our
system will only be deleted at your express request after the expiration of the respite period of seven (7)
years.
                                </p>
                                <p class="mt-2">
A closed Account may be reopened when requested by its owner and granted by the Company. In such
circumstances, he/she will be subject to the Terms of Use that are in force at the date of the re-opening.
                                </p>
                                <p class="mt-2">
Topplaysport retains the right to exclude Users from his services at its discretion. In this case we will
refund the residual credit balance in the Account using the same payment method provided upon
registration, or any other payment methods adopted subsequently by the customer upon their
appropriate verification. If the Account has been closed due to an infringement pursuant to the Terms of
Use or to a prohibited behaviour leading to collusion, Fraud or whatsoever Criminal Activity, the residual
credit balance may be forfeited.
                                </p>
                                <p class="mt-2">
Customer is not allowed to transfer funds from his/her Account to other Users or to receive money from
other Users into his Account, or to transfer, sell and/or acquire, user accounts.
                                </p>
                                <p class="mt-2">
If a Customer does not access his Account by logging in using his Account name and security details for
any period of six calendar months, his account shall be deemed to be Inactive.
                                </p>
                                <h4 class="text-uppercase mt-2">DEPOSITS AND WITHDRAWALS</h4>
                                <p class="mt-2">
The Customer has the possibility to increase the credit balance of his Account with one of the payment
methods made available by Topplaysport . The Customer warrants that he/she shall not use the payment methods that belong to any third party. Any deposits that are subject to the bonus promotion
offer will be regulated by the bonus promotion rules and may not be available for withdrawal. The
Customer can withdraw the available credit balance of the Account using the same payment method
provided upon registration, or any other payment method adopted subsequently by the customer once
the full and appropriate verification has been completed.
                                </p>
                                <p class="mt-2">
In order to perform any transaction, Topplaysport may undertake any such verification checks as may
be required by ourselves or by third parties (including, but not limited to, regulatory bodies) to confirm
the legal ownership and the origin of the money implicated, the identity of the applicant and to comply
with the relevant Anti Money Laundering Provisions. Topplaysport may suspend the availability of any
withdrawal method and/or the withdrawal function available in your account until the completion of the
verification checks in relation to the validity of any of the documents you send and, in some limited
circumstances, suspend any activity of your account it may deem necessary should it have reasonable
grounds to suspect or establishes the prohibited or illicit activity.
                                </p>
                                <p class="mt-2">
In order to withdraw your money, you will be requested to send us a copy of your ID (front/rear).
Whenever a transaction is made through bank transfer, credit card or electronic wallet, the first
withdrawal request will be processed only after a security check has been performed and/or in any
other circumstances Topplaysport may deem necessary (for example, large sum withdrawals). In such
instances you may be required to supply any or all of the following documents together with the ID, in
order to comply with our security policies:
                                </p>
                                <p class="mt-2">
In case of credit card transactions, a copy of both sides of the card used to make the payment duly
signed by the owner;
                                </p>
                                <p class="mt-2">
A copy of an official document (bank statement, debit card statement etc.) showing your billing address;
                                </p>
                                <p class="mt-2">
Any other document that may be relevant in order to complete the check.
                                </p>
                                <p class="mt-2">
Full compliance with our requests will speed up the verification process.
                                </p>
                                <p class="mt-2">
All withdrawals from Topplay accounts will be subject to audit before being processed. If the audit
shows that the Customer has violated the provisions of the Terms of Use, Topplaysport may reclaim any
bonuses or winnings previously attributed.
                                </p>
                                <p class="mt-2">
The Account is a deposit holding facility, current or savings account or any other financial product, shall
not generate interest and the deposits are made into the Account for the purposes of genuine play.
Topplaysport is under no obligation to repay money to the Customer as his/her debtor.
                                </p>
                                <p class="mt-2">
Topplaysport reserves the right to limit or to refuse predictions.
                                </p>
                                <h4 class="text-uppercase mt-2">LEGAL USE OF THE WEBSITE AND OF ITS COMPONENTS</h4>
                                <p class="mt-2">
Under no circumstances shall the Website be used for any purpose different from personal
entertainment without our express consent. Topplaysport is not liable for any attempts to use the
services offered by means or ways not intended by us.
                                </p>
                                <p class="mt-2">
All Trademarks, Domains, Terms of Use, Logos, Images and any other material used by or in
Topplaysport's products (Ex. graphics, pictures, text etc.), as well as any other content or underlying
idea that can be found within our Website, are owned by Topplaysport and protected by copyright in
their entirety and may not be modified, reproduced and redistributed, in whole or in part, without
Topplaysport's express previous written permission. All necessary legal actions will be undertaken in
order to ensure compliance to this policy.
                                </p>
                                <p class="mt-2">
Any action aimed to interfere with the normal functioning of the website including, but not limited to,
releasing or propagating viruses, worms or logic bombs or similar is strictly prohibited and will be
pursued to the fullest extent permitted by law.
                                </p>
                                <p class="mt-2">
Topplaysport may at any time and without previous notice, remove or amend any product offered via
the Website, as well as alter available prices where such alterations do not affect events already in
progress.
                                </p>
                                <p class="mt-2">
Under some circumstances Topplaysport may provide its Customers with software designed internally
or by third parties in order to optimize the functioning of the Website or to benefit from additional
services. In such circumstances the Customer may be asked to accept further Terms and Conditions
related to the utilization of the new component. Any attempt to interfere with, modify or reverse
engineer any software provided is strictly prohibited.
                                </p>
                                <p class="mt-2">
Topplaysport is not liable for any possible IT failures caused by the electronic equipment used by the
Customer while accessing the Website or for faults due to the internet service provider used by the
Customer while accessing the Website.
                                </p>
                                <p class="mt-2">
Topplaysport also assumes no liability for correctness, completeness or up-to-dateness of the
information services provided neither for the accuracy of statistics and intermediate results available in
our website.
                                </p>
                                <h4 class="text-uppercase mt-2">LINKING TO OUR WEBSITE AND FROM OUR WEBSITE</h4>
                                <p class="mt-2">
The Customer may link to our home page, provided he does so in a website owned by him/her, and in a
way that is fair and legal and does not damage our reputation or take advantage of it. Links may not be
established in such a way as to suggest any form of association, approval, sponsorship or endorsement
on our part without our express written consent.
                                </p>
                                <p class="mt-2">
Where our Website contains links to other websites and resources provided by our partners or other
third parties, these links are provided for information only and we do not make any representations
regarding the accuracy and reliability of contents available on such third party websites. We have no
control over the contents of those websites and therefore accept no responsibility for them or for any
loss or damage that may arise from their utilization.
                                </p>
                                <h4 class="text-uppercase mt-2">COMPLAINTS AND SUGGESTIONS</h4>
                                <p class="mt-2">
If you wish to make a complaint or a suggestion regarding the Company, the Website or the services
offered, as a first step you should contact our Customer Services or send us an email through
info@Topplaysport.com. As second step, the complaint shall be assigned to an advisor that will manage
to provide you with the appropriate response. Save as provided further under clause 3, should the
complaint not be resolved as expected by you, a response shall be provided to you through internal
message or email by the Customer Service Advisor who will report the final decision to you.
                                </p>
                                <p class="mt-2">
All claims and suggestions should be forwarded to the Customer Service in written form via internal
messageor e-mail. No complaints with regard to the acceptance, settlement will be heard by us if they
are not raised through our Customer Services within 30 days from the event occurrence.
                                </p>
                                <p class="mt-2">
Offensive or rude language, as well as malicious or damaging comments, will not be tolerated while
contacting our staff or while discussing our products and services in any media, social network or forum.
Any infringement of this policy will result in a suspension of the Account or in every additional action as
may be required in order to ensure compliance.
                                </p>
                                <h4 class="text-uppercase mt-2">WAIVER</h4>
                                <p class="mt-2">
In no event will any delay, failure or omission (in whole or in part) in enforcing, exercising or pursuing
any right, power, privilege, claim or remedy conferred by or arising under these Terms and Conditions or
by law, be deemed to be or construed as a waiver of that or any other right, power, privilege, claim or
remedy in respect of the circumstances in question, or operate so as to bar the enforcement of that, or
any other right, power, privilege, claim or remedy, in any other instance at any time or times
subsequently.
                                </p>
                                <h4 class="text-uppercase mt-2">SEVERABILITY</h4>
                                <p class="mt-2">
If any provision of these Terms and Conditions is found by any court or administrative body of
competent jurisdiction to be invalid or unenforceable, such invalidity or unenforceability shall not affect
the other provisions of these Terms and Conditions which shall remain in full force and effect.
                                </p>
                                <p class="mt-2">
In such instances, the part declared invalid or unenforceable shall be amended in a manner consistent
with the applicable law to reflect, as closely as possible, Topplaysport's original intent.
                                </p>
                                <h4 class="text-uppercase mt-2">TERMINATION</h4>
                                <p class="mt-2">
Topplaysport shall have the right prior to accepting, temporarily suspend or permanently terminate, the
provision of services to a Customer without providing any reason.
                                </p>
                                <p class="mt-2">
These General Terms and Conditions are effective from 02/11/2019
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}