{% autoescape off %}
    <img src="http://topplaysport.com/static/images/misc/mail-logo.png" alt="logo" width="200px" height="40px"
         style="margin-left:auto;margin-right:auto;display:block;">
    <div style="background-color:white;border:0.1px solid #000321;border-radius:10px 10px 0px 0px;padding:10px 14px;font-size: 15px;">
        <h2 style="color:#ff4f2e;text-transform:uppercase;margin-left:5px">Congratulations!</h2>
        <p>Your persistent hardwork has paid off. You are part of our free weekend giveaway winners.
        </p>
        <p>Please check your <a href="http://topplaysport.com">dashboard</a> for more info</p>
    </div>
    {% include "mails/layouts/footer.html" %}
{% endautoescape %}