{% autoescape off %}
    <img src="http://topplaysport.com/static/images/misc/mail-logo.png" alt="logo" width="200px" height="40px"
         style="margin-left:auto;margin-right:auto;display:block;">
    <div style="background-color:white;border:0.1px solid #000321;border-radius:10px 10px 0px 0px;padding:10px 14px;font-size: 15px;">
        <p>Your commission of NGN 200 has been paid to your bonus account for referring: <b>{{ username }}</b>
        </p>
        <p>Please check your <a href="http://topplaysport.com/referrals">referrals</a> for more info</p>
    </div>
    {% include "mails/layouts/footer.html" %}
{% endautoescape %}