{% extends 'layouts/base.html' %}
{% load static %}
{% load site_utils %}
{% block page_title %}Account Login{% endblock %}
{% block content %}
    <section class="section parallax-container breadcrumbs-wrap{% if user.is_authenticated %} push-header{% endif %}"
             data-parallax-img="{% static 'images/bg/breadcrumbs-1-1920x726.jpg' %}">
        <div class="parallax-content breadcrumbs-custom context-dark">
            <div class="container">
                <h3 class="breadcrumbs-custom-title">Login</h3>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="javascript:void(0)" onclick="history.back()">Back</a></li>
                    <li class="active">Login</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section section-variant-1 bg-gray-100 text-center">
    <div class="container">
        <login-v></login-v>
    </div>
    </section>
{% endblock content %}